<HTML>
    <HEAD>
    </HEAD>
    <BODY>		
     	<p style="font-family:Helvetica;font-size:12px;color:DarkSlateGray">Hello $userName,</p>
        <p style="font-family:Helvetica;font-size:12px;color:DarkSlateGray">Please click the link below to register your details for <strong>$projectName</strong>.</p>
        <a href="$projectLink"   style="display:block;
			width: 130px;
			padding:5px;
			line-height: 20px;
			background-color:#f0eee8;
			border:1px solid #ccc;
			letter-spacing: .5px;
			color: #0645AD;
			text-decoration: none;
			text-align: center;font-size:11px;font-family:Helvetica;color:#444;"><strong>Register</a>
		
     	<p style="font-family:Helvetica;font-size:12px;color:DarkSlateGray">Regards,<br>Admin</p>
    </BODY>
</HTML>