
<div class="container margin-60px-top">
    <div class="row">
       
       <div class="col-md-12">
           <div class="alert alert-danger errorDiv" role="alert" *ngIf="statusMsg">
  <strong>{{statusMsg}}</strong><span class='pull-right' style="cursor:pointer;color:red;"(click)="hideStatusMsg()">X</span>  
</div>
            <div class="panel panel-default">
                    <div class="panel-body"> 
                     
                         <div class="col-md-12">
    <form name="form" id="loginFormId" class="form-horizontal" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm">
    	<div class="form-group">
        <label for="password" class="col-sm-3 control-label">Old Password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="oldpassword" name="oldpassword" size="16" placeholder="Old Password" [(ngModel)]="model.oldpassword" #oldpassword="ngModel" required autofocus maxlength="16">
        </div>
        </div>
        <div class="form-group">
        <label for="password" class="col-sm-3 control-label">New Password</label>
       <div class="col-sm-9">
            <input type="password" class="form-control" id="password" name="password" size="16" placeholder="New Password" [(ngModel)]="model.password" #password="ngModel" required maxlength="16">
        </div>
         </div>
        <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">Confirm New Password</label>
         <div class="col-sm-9">
        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" aria-describedby="basic-addon1" [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel" size="16" required maxlength="16">
        <div class="alert-danger " id="errorLog" *ngIf="passworderror">Passwords do not match</div>
        </div>
         </div>
        <p class="text-center pull-right">
            <button type="submit"  [disabled]="!f.valid" class="btn btn-primary">Change Password</button>
            <a [routerLink]="['/catalogue']" class="btn btn-primary">Cancel</a>
        </p>
    </form>
     </div>
   
</div>
</div>
</div>
</div>
</div>


