<div class="container margin-60px-top">
    <div class="row">
       
       <div class="col-md-12">
            <div class="panel panel-default">
                    <div class="panel-body">
                     
<!--<label>Contact Person:</label><br>
<cite>Rubal Sher</cite><br><br>

 <address><span class="glyphicon glyphicon-map-marker"></span> #13/1, Embasy Signet,<br> &nbsp;      &nbsp;&nbsp;Cessna Business Park, <br> &nbsp;&nbsp;&nbsp; Bangalore-560103 <br>

<span class="glyphicon glyphicon-envelope"></span> <i>rubal.sher@incedoinc.com</i><br>
<span class="glyphicon glyphicon-phone-alt"></span> <i>+918067085862</i><br>&nbsp;&nbsp;&nbsp;
<i>+919886163494</i>

 </address>-->
  <div class="col-md-3 col-xs-6">
    <a href class="thumbnail" style="height: 180px; width: 100%; display: block;">
     
    </a>
  </div>

                    <address>
                    <strong>Rubal Sher</strong><br>
                    Incedo Inc.<br>
                    #13/1, Embassy Signet,<br>
                    Cessna Business Park, <br>
                    Bangalore-560103<br>
                    <abbr title="Phone">P:</abbr> +918067085862,+919886163494
                    </address>

                        <address>
                       Mail :<a href="mailto:rubal.sher@incedoinc.com">rubal.sher@incedoinc.com</a>
                        </address>

                    </div>
                </div>
            </div>
        </div>
</div>