/*body{transition:all 2s;-webkit-transition:all 2s;}

@font-face {
    font-family: navMenu;
    src: url(assets/fonts/circula/circula.otf);
}*/
/*OstrichSans-Heavy*/

/*@font-face {
    font-family: sectionMenu;
    src: url(assets/fonts/ostrich/OstrichSans-Bold.otf);
}*/

nav a{
    /*font-family: navMenu;
    letter-spacing: 2px;*/
    /*font-size:20px;*/
    /*font-weight:800;*/
    /*color:#3D0C02;*/
    font-weight:600;
    }
/*section a{font-family: navMenu;letter-spacing: 2px;font-size:16px;}*/

.brdcmbCls{
	margin-top:-20px !important;
	width:100%;padding:10px;
	background:#f2f2f2;
}
#header1{
	margin-top: -8.2%;
	margin-right: 10px;
    font-weight:600;
    /*font-family: navMenu;letter-spacing: 2px;font-size:20px;font-weight:800;color:#3D0C02;*/
	/*padding: 5px;*/
}
li {list-style: none;}
.navbar-default .navbar-nav>li>a {
    /*color: #000;*/
    /*font-size: large;*/
}
.breadcrumb{
	background-color: #fff;
}
.dropdown-toggle{
    border-bottom:2px solid transparent;
    cursor:pointer;
    color:#3D0C02;
    }
.navbar-default {
    background-color: #d8d3d3;
    border-color: #d8d3d3;
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
}
.dropdown-toggle:hover{color:#bb0000 !important;} 
/*.dropdown-toggle{border-bottom:2px solid transparent;cursor:pointer;color:#3D0C02;}
.dropdown-toggle:hover{color:#E22835 !important;} 
.dropdown-menu {background-color: #f2f2f2;transition:all 2s !important;-webkit-transition:all 2s !important;}
.dropdown-menu li:hover a{color: #E22835;}
.dropdown-menu a{font-size:16px;}*/

.tempDisable{color:grey !important; pointer-events:none;}
.tempDisable:hover{color:grey !important;cursor:not-allowed !important; }
.brdcmbCls b{margin-left:8%;}
.loading
    {
        position: fixed;
        z-index: 1200;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
    }
.center
    {
        z-index: 1201;
        margin: 300px auto;
        padding : 10px;
        padding-left: 35px;
        width: 130px;
        background-color: White;
        border-radius: 10px 10px 10px 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }   
.breadcrumb-background{
    height:auto;
    background: #f2f2f2;
  }
.padding-right-none{
    padding-right:0px;
}
.padding-top{
    padding:6px 0px;
}