
<div class="container margin-60px-top">
   <div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger errorDiv" role="alert" *ngIf="statusMsg">
  <strong>{{statusMsg}}</strong><span class='pull-right' style="cursor:pointer;color:red;"(click)="hideStatusMsg()">X</span>  
</div>
     <div class="panel panel-default">
                    <div class="panel-body text-center"> 
                     
    <form  #addCatForm="ngForm" (ngSubmit)="onSubmit()"  class="form-inline">
        <div class="form-group">
          <label  for="icon">Upload VNF Image:</label>
         
            <input type="file" class="form-control" id="icon"  (change)="onChange($event)"
                    required [(ngModel)]="model.icon" name="icon">
         
        </div>
        
            <button type="submit" class="btn btn-primary btn-sm" >Save</button>
              <button type="button" class="btn btn-primary btn-sm" (click)="cancelFn()">Cancel</button>
         
    </form>
</div>
</div>
</div>
</div>
</div>


