

<div class="container margin-60px-top" *ngIf="!launchVnfDet">
  <div class="row">
		  <div class="col-md-12">
        <div class="alert alert-danger errorDiv" role="alert" *ngIf="statusMsg">
  <strong>{{statusMsg}}</strong><span class='pull-right' style="cursor:pointer;"(click)="hideStatusMsg()">X</span>  
</div>
        <p>
  <select class="pull-right form-control" style="width:170px;margin-bottom:5px;" name="cat" placeholder="Select catalog" [(ngModel)]="model.items">
                <option value='10' selected='true'>10 Items per page</option>
                <option value='25'>25 Items per page</option>
                <option value='50'>50 Items per page</option>
  </select>
  </p>
   <div class="col-md-12" style="padding-right: 0px;padding-left: 0px;">	
	 <div class="panel panel-default">
        <div class="panel-body">
 <table class="table">
   <thead> 
  <tr>
   <th>Name</th>
  <th>Image ID</th>
  <th>Description</th>
   <th>Action</th>
  </tr>
   </thead>
    <tbody> 
  <tr *ngFor="let vnf of vnfList | paginate: { itemsPerPage: model.items, currentPage: p }" >
   <td>{{vnf.name}}</td>
   <td>{{vnf.imageid}}</td>
   <td>{{vnf.description}}</td>
   <td><button type="button"  class="btn btn-primary btn-sm" id="launchvnf" (click)="launchVnf(vnf)">Launch</button>
   <button type="button" class="btn btn-primary btn-sm" id="downloadvnf" (click)="fileDownload(vnf.id)">Download</button>
   </td>
  </tr>
    </tbody>
  </table>
  </div>
</div>
</div> 
 <div style="padding:20px;width:100%;text-align: center;cursor:pointer;">
   <pagination-controls class="my-pagination" (pageChange)="p = $event" autoHide="true"></pagination-controls>
   </div>
</div>
</div>
</div> 
  <!-- Trigger the modal with a button -->
  <!-- Modal -->
  <div id="myModal" class="vnfmodal" *ngIf='showModal' (click)="closeModal()">
  <!-- Modal content -->
    <div class="modalContent">
      <span class="close"(click)="closeModal()">&times;</span>
      <p>VNF Launched Successfully..</p>
    </div>
  </div>
<div class="addCatDiv" *ngIf='launchVnfDet==true'>
        <form  #launchVnfForm="ngForm" (ngSubmit)="launchVnfSubmit()"  class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-3" for="email">Name:</label>
          <div class="col-sm-5">
            <b>{{vnfName}}</b>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3" for="des">Description:</label>
          <div class="col-sm-5">
            <textarea class="form-control" id="desc" [(ngModel)]="model.vnfDesc" name="vnfDesc"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3" for="pwd">Select Catalog:</label>
          <div class="col-sm-5">
              <select [(ngModel)]="model.cat" class="form-control" name="cat" placeholder="Select catalog">
                <option value='-1'>Select Catalog</option>
                <option *ngFor="let catlog of catalogOptions" [value]="catlog.id">{{catlog.name}}</option>
                
              </select>
          </div>
        </div>
        
        <div class="form-group">
        <div class="col-sm-5"></div>
          <div class="col-sm-5">
            <button type="submit" id="saveVnfLaunch" class="btn btn-primary btn-sm" [disabled]="model.cat==-1">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button"  class="btn btn-primary btn-sm" (click)="closeModal()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
<router-outlet></router-outlet>