<!-- <div class="container" >
<div>
	
	<div class="extraoptions">
		<input type="text"  name="filter" placeholder="Filter" class="filter">	
		<button type="button" *ngIf="currentUser.role=='Super Admin' || currentUser.role=='tenant admin'" [disabled]="!checked1 && !checked2 && !checked3" >Kill Instance</button>
	</div>
	<table class="tabDetail">
		<tr>
			
			<th>Name</th>
			<th>Catalog Id</th>
			<th>IP Address</th>
			<th>Status</th>
			<th>Description</th>
			<th>Action</th>
		</tr>
		<tr>
			
			<td>CloudUIC</td>
			<td>Huawei</td>
			<td>172.10.12.3</td>
			<td>Active</td>
			<td>virtual unified intelligent center </td>
			<td><button type="button" class="btn btn-primary">View</button>&nbsp;&nbsp;&nbsp;<button (click)="action()">action</button>
			

			</td>
		</tr>
		<tr>
			
			<td>CoreNetwork</td>
			<td>Cisco</td>
			<td>173.10.22.21</td>
			<td>Idle</td>
			<td>Multimedia Call, Message and Conference</td>
			<td ><button type="button" class="btn btn-primary">View</button>&nbsp;&nbsp;&nbsp;<button (click)="action()">action</button> </td>
		</tr>
		<tr>
			
			<td>CloudOpera IES</td>
			<td>Huawei</td>
			<td>171.12.12.13</td>
			<td>Active</td>
			<td>VPN Deployment APIs</td>
			<td><button type="button" class="btn btn-primary">View</button>&nbsp;&nbsp;&nbsp;<button (click)="action()">action</button></td>
		</tr>
	</table>

</div>
 -->
 <h3 style="text-align: center;">No Launched Instances Available</h3>